{{#if videoService.connectionReady}}
    {{#unless inVideo}}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" {{action 'joinVideo'}}>
          <i class="material-icons md-18 mdl-button--primary">call</i>
        </button>
    {{else}}
        <div class="participants">
            {{#if videoService.localMedia}}
                <video id='myvideo' class="{{myVideoClass}}" autoplay muted="muted" style="transform: scaleX(-1)"/>
            {{/if}}
            {{#each participants as |participant|}}
                <video autoplay class="{{participantsVideoClass}}" data-peer-id="{{participant.peer.id}}" {{action 'leaveVideo'}}/>
            {{/each}}
        </div>


         <div class="room-navbar">
          <ul class="video-controls">
              <li>
                   {{#if isAudioOn}}
                     <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary" {{action 'muteAudio'}}>
                      <i class="material-icons">mic</i>
                     </button>
                   {{else}}
                     <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab {{if isSpeaking 'blink-button'}}" {{action 'unMuteAudio'}}>
                      <i class="material-icons">mic_off</i>
                     </button>
                   {{/if}}
              </li>
              <li>
                  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" {{action 'leaveVideo'}}>
                    <i class="material-icons A700 md18">call_end</i>
                  </button>
              </li>
              <li>
                   {{#if isVideoOn}}
                     <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary" {{action 'pauseVideo'}}>
                      <i class="material-icons">videocam</i>
                     </button>
                   {{else}}
                     <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" {{action 'resumeVideo'}}>
                      <i class="material-icons">videocam_off</i>
                     </button>
                   {{/if}}
              </li>
          </ul>



        </div>


    {{/unless}}
{{/if}}
